@import 'core.scss';

.section {
  padding: 4rem 1.5rem 2rem;
  position: relative;
  width: 100%;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.inner {
  display: flex;
  width: 100%;

  @media (max-width: $l) {
    display: block;
  }

  .column {
    margin: 0;
    padding-right: 10rem;
    width: 50%;

    @media (max-width: $m) {
      width: 100%;
      padding: 0;
    }

    .innerColumn {
      padding-top: 0.5rem;
      position: sticky;
      top: 6.66rem;

      .h2 {
        font-size: 2.66em;
        margin: 0 0 1rem;
      }

      .p {
        font-size: 1.1em;
        margin-top: 0;
        margin-bottom: 1.5rem;
        white-space: pre-wrap;
      }

      @media (max-width: $m) {
        .h2 {
          font-size: 1.75em;
          margin-bottom: 1rem;
        }

        .p {
          font-size: 1.15em;
        }
      }
    }
  }
}

.container {
  padding-left: 0.8rem;
  width: 50%;

  @media (max-width: $m) {
    padding: 3rem 0 0;
    width: 100%;
  }

  .item {
    margin: 1rem 0 6rem;
    //padding: 0 4rem 0 2rem;
    position: relative;
    text-align: right;
    width: 100%;

    @media (max-width: $m) {
      margin-bottom: 3rem;
      padding: 0;
      text-align: left;
      width: 100%;
    }

    &:last-of-type .tal::after {
      content: '';
    }
  }

  .betydning {
    color: var(--black);
    font-size: 1.2em;
    margin: 0 auto;
    //max-width: 300px;
  }
}

.tal {
  border-bottom: 1px solid var(--black);
  display: inline-flex;
  font-size: 11vw;
  font-weight: bold;
  justify-self: flex-end;
  line-height: 1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;

  @media (max-width: $m) {
    display: block;
    font-size: 5em;
  }

  .talWrapper {
    overflow: hidden;

    .digit {
      display: inline-block;
      position: relative;
    }
  }
}

.countup {
  display: inline-block;
}

.enhed {
  display: inline-block;
  position: relative;
  //font-size: 0.33em;
}

.cta {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 4rem;
  text-transform: uppercase;
  width: fit-content;

  @media (max-width: $m) {
    margin-top: 2rem;
  }

  .icon {
    align-items: center;
    background-color: var(--main);
    border-radius: 1.25em;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    margin-right: 0.5em;
    width: 2.5em;
  }

  &:hover {
    color: var(--red);

    .icon {
      background-color: var(--red);
    }
  }
}
