@import 'core.scss';

.animeret {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5rem 2rem;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.dark {
  color: var(--bg);
}

.inner {
  max-width: $l;
  width: 100%;
}

.inner .h2 {
  font-size: 2rem;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: $m) {
    font-size: 27px;
    line-height: 1.2;
  }
}

.container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;

  @media (max-width: $m) {
    flex-direction: column;
  }

  .item {
    flex: 1;
    width: 33%;
    text-align: center;

    @media (max-width: $m) {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}

.tal {
  font-size: 6em;
  font-weight: bold;

  @media (max-width: $m) {
    font-size: 4em;
  }
}

.countup {
  display: inline-block;
}

.enhed {
  display: inline-block;
  font-size: 0.33em;
}

.cta {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 0;
  margin-top: 4rem;
  text-transform: uppercase;
  width: fit-content;

  @media (max-width: $m) {
    margin-top: 2rem;
  }

  .icon {
    align-items: center;
    background-color: var(--main);
    border-radius: 1.25em;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    margin-right: 0.5em;
    width: 2.5em;
  }

  &:hover {
    color: var(--red);

    .icon {
      background-color: var(--red);
    }
  }
}
