@import 'core.scss';

.button {
  background-color: var(--main);
  border: none;
  border-radius: 1rem;
  color: var(--bg);
  font-size: 0.7em;
  height: 2rem;
  padding: 0 1rem;
  text-transform: uppercase;

  &:hover {
    background-color: var(--red);
    color: var(--bg);
    cursor: pointer;
  }
}

.light {
  background-color: var(--bg);
  color: var(--main);
}
