@import 'core.scss';

.main {
  background-color: var(--main);
  color: var(--bg);
  padding: 4rem 2rem 2rem;
  position: relative;
  z-index: 0;
}

.inner {
  position: relative;
}

.tagline {
  color: var(--bg);
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 0.9;
  margin-bottom: 2rem;
  max-width: 500px;
  text-transform: uppercase;
}

.bottom,
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top {
  margin: 4rem auto;
}

.contact {
  flex: 3;

  .titel {
    display: none;
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .mail {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .mail:hover {
    color: var(--red);
  }

  .p {
    font-size: 0.9rem;
    margin: 0;
    margin-top: 0.5rem;
  }
}

.navigation {
  flex: 1;

  .ul {
    line-height: 1.75;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .li:hover {
    color: var(--red);
  }

  .active {
    color: var(--red);
  }
}

.address {
  flex: 1;

  p:first-of-type {
    margin-top: 0;
  }
}

.logo {
  color: var(--bg);
  display: inline-block;
  margin-right: 0.25em;
  text-transform: uppercase;

  .digital {
    display: inline-block;
    margin-right: 0.25em;
  }
}

.info {
  font-weight: bold;
  font-size: 0.9em;
  flex: 3;
}

.socials,
.policies {
  flex: 1;

  a:first-of-type::after {
    color: var(--bg) !important;
    content: '/';
    margin-inline: 0.5rem;
  }

  a:hover {
    color: var(--red);
  }
}
