@import 'core.scss';

.main {
  background-color: var(--sand);
  color: var(--bg);
  padding: 4rem 2rem 2rem;
  position: relative;
  z-index: 0;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.inner {
  position: relative;
}

.tagline {
  color: var(--bg);
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 0.9;
  margin-bottom: 2rem;
  max-width: 500px;
  text-transform: uppercase;
}

.bottom,
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $m) {
    flex-direction: column;
  }
}

@media (max-width: $m) {
  .bottom {
    flex-direction: column-reverse;
  }
}

@media (min-width: $m) {
  .top {
    margin: 0 auto 4rem;
  }
}

.logo {
  color: var(--bg);
  display: inline-block;
  flex: 2;
  font-size: 1.6em;
  font-weight: bold;
  margin-right: 0.25em;
  max-width: 50%;
  text-transform: uppercase;

  .digital {
    display: inline-block;
    margin-right: 0.25em;
  }
}

.navigation {
  flex: 1;
  max-width: 25%;

  .ul {
    line-height: 1.75;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .li:hover {
    color: var(--red);
  }

  .active {
    color: var(--red);
  }
}

.address {
  flex: 1;
  max-width: 25%;

  p:first-of-type {
    margin-top: 0;
  }
}

.info {
  font-weight: bold;
  font-size: 0.9em;
  flex: 2;
  max-width: 50%;

  @media (max-width: $m) {
    margin-top: 3rem;
  }
}

.socials,
.policies {
  flex: 1;
  max-width: 25%;

  a {
    align-items: center;
    display: inline-flex;
  }

  a:first-of-type::after {
    color: var(--bg) !important;
    content: '/';
    margin: 0 0.5rem;
  }

  a:hover {
    color: var(--red);
  }
}

.socials span {
  margin-left: 0.3em;
}

@media (max-width: $m) {
  .contact,
  .navigation,
  .address {
    margin-bottom: 3rem;
  }
}
