@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope[wght].woff2') format('woff2'),
  url('/fonts/Manrope[wght].woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-variant-ligatures: normal;
}

@font-face {
  font-family: 'Lora';
  font-weight: 100 1000;
  src: url('/fonts/Lora-VariableFont_wght.ttf') format('truetype');
}

html,
body {
  background-color: var(--bg);
  color: var(--black);
  font-family:
    'Manrope',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-variant-ligatures: normal;
  font-size: 16px;
  font-weight: 375;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  padding: 0;
  position: relative;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 700;
}


h2,
h3 {
  font-weight: 660;
  letter-spacing: -0.05rem;
}

@media (max-width: 440px) {
  h2,
  h3 {
    font-weight: 500;
  }
}

p {
  letter-spacing: -0.033rem;
}

.section:first-of-type {
  padding-top: 5rem;
}

.section:last-of-type {
  padding-bottom: 5rem;
}

@media (min-width: 834px) {
  .section:first-of-type {
    padding-top: 5rem;
  }

  .section:last-of-type {
    padding-bottom: 5rem;
  }
}

.line::before {
  background-color: var(--red);
  content: '';
  display: block;
  height: 3px;
  margin: 0 auto;
  margin-bottom: -0.25rem;
  margin-top: 3rem;
  width: 50px;
}

.line-under::after {
  background-color: var(--red);
  content: '';
  display: block;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 50px;
}

.red {
  color: var(--red) !important;
  font-weight: bold;
}

.yellow {
  color: var(--yellow) !important;
  font-weight: bold;
}

:root {
  --bg: #FAF8F2;
  --bg: #fdfbf9;
  /*--bg: #fAf8f4;*/
  --grey: #e1e1e1;
  --light: #FFDD91;
  --sand: #F4EDDC;
  --sand: rgb(255, 241, 214);
  --yellow: #FFC63C;
  --curry: #FFDD91;
  --red: #FF6E62;
  --peach: #FF6E62;
  --strong-red: #EB3132;
  --pink: #F9C3D3;
  --brown: #963124;
  --turkis: #baf1f6;
  --green: #0E7279;
  --green: #0A676E;
  --blue: #082140;
  --main: #082140;
  --black: #000410;
  --black: #000410;
  --black: #09091a;
  --white: #fff;
  --link: #00CCBC;
  --linkBlue: rgb(0, 0, 255);
  --ease: cubic-bezier(0.83, 0, 0.17, 1);
}
