@font-face {
  font-family: 'Manrope';
  font-weight: normal;
  src: url('/Manrope-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-style: italic;
  font-weight: normal;
  src: url('/Manrope-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Manrope';
  font-weight: bold;
  src: url('/Manrope-ExtraBold.otf') format('opentype');
}

html,
body {
  background-color: var(--main);
  color: var(--main);
  font-family:
    'Manrope',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section:first-of-type {
  padding-top: 5rem;
}

.section:last-of-type {
  padding-bottom: 5rem;
}

@media (min-width: $m) {
  .section:first-of-type {
    padding-top: 5rem;
  }

  .section:last-of-type {
    padding-bottom: 5rem;
  }
}

:root {
  --bg: #FAF8F2;
  --light: #FFDD91;
  --sand: #F4EDDC;
  --yellow: #FFC63C;
  --curry: #FFDD91;
  --red: #FF6E62;
  --peach: #FF6E62;
  --pink: #F9C3D3;
  --turkis: #B8DFE2;
  --green: #0E7279;
  --blue: #082140;
  --main: #082140;
  --black: #000410;
  --white: #fff;
}
