@font-face {
  font-family: 'Manrope';
  src: url('/Manrope[wght].woff2') format('woff2') tech('variations'),
  url('/Manrope[wght].woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-variant-ligatures: normal;
}

html,
body {
  background-color: var(--main);
  color: var(--main);
  font-family:
    'Manrope',
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section:first-of-type {
  padding-top: 5rem;
}

.section:last-of-type {
  padding-bottom: 5rem;
}

@media (min-width: $m) {
  .section:first-of-type {
    padding-top: 5rem;
  }

  .section:last-of-type {
    padding-bottom: 5rem;
  }
}

.line::before {
  background-color: var(--red);
  content: '';
  display: block;
  height: 3px;
  margin: 0 auto;
  margin-bottom: -0.25rem;
  margin-top: 3rem;
  width: 50px;
}

.line-under::after {
  background-color: var(--red);
  content: '';
  display: block;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 50px;
}

.red {
  color: var(--red) !important;
  font-weight: bold;
}

.yellow {
  color: var(--yellow) !important;
  font-weight: bold;
}

.dogme {
}

:root {
  --bg: #FAF8F2;
  --light: #FFDD91;
  --sand: #F4EDDC;
  --yellow: #FFC63C;
  --curry: #FFDD91;
  --red: #FF6E62;
  --peach: #FF6E62;
  --pink: #F9C3D3;
  --turkis: #B8DFE2;
  --green: #0E7279;
  --blue: #082140;
  --main: #082140;
  --black: #000410;
  --black: #000410;
  --white: #fff;
  --link: #00CCBC;
  --linkBlue: blue;
  --ease: cubic-bezier(0.83, 0, 0.17, 1);
}
