@import 'core.scss';

.inner {
  margin: 0 auto 4rem;
  max-width: $l;
  padding: 1rem;
  width: 100%;
}

.heading {
  border-bottom: 1px solid var(--main);
  line-height: 2;
  font-weight: normal;
}

.imageContainer {
  display: flex;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.column {
  width: calc(25% - 1.5rem);

  @media (max-width: $m) {
    width: calc(34% - 1.66rem);
  }

  @media (max-width: $s) {
    width: calc(50% - 1rem);
  }
}

.imageDescription {
  font-size: 15px;
  font-weight: 300;
  word-break: break-word;
  hyphens: auto;
}