@import 'core.scss';

.header {
  position: fixed;
  width: 100%;
  z-index: 99;

  .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;

    @media (max-width: $m) {
      padding: 1rem;
    }
  }
}

.logo {
  color: var(--bg);
  line-height: 0.8;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;

  .digital {
    letter-spacing: -0.042em;
  }

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: $m) {
  .menuOpened {
    color: var(--main);
    transition-delay: 0.3s;
    transition-property: color;
  }
}

.isScrolling {
  color: var(--main);
}

.atTop {
  background-color: transparent;
  transition: 0.2s;
  transition-property: background-color;
  transform: translateY(0);
}

.whiteHeader {
  background-color: var(--white);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.hideHeader {
  transform: translateY(-100%);
  transition: 0.6s;
}
