@import 'core.scss';

.header {
  position: fixed;
  width: 100%;
  z-index: 99;

  .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.6rem 0;
    transform: translateY(0);
    //transition-delay: 0.05s;
    width: calc(100% - 3rem);

    @media (max-width: $m) {
      padding: 1rem 1rem;
      width: 100%;
    }
  }
}

.altLogo {
  cursor: pointer;
  width: 5.66rem;
  z-index: 1;

  @media (max-width: $m) {
    width: 4.5rem;
  }
}

.logo {
  color: var(--blue);
  line-height: 0.8;
  font-size: 1.75rem;
  font-weight: 750;
  text-transform: uppercase;
  z-index: 1;

  .digital {
    letter-spacing: -.036em;
  }

  &:hover {
    cursor: pointer;
  }
}

.light .logo {
  color: var(--orange);
}

.dark .logo {
  color: var(--bg);
}

.blue .logo {
  color: var(--weak-blue);
}

.grey .logo {
  color: var(--strong-blue)
}

.pink .logo {
  color: var(--strong-blue)
}

.turquoise .logo {
  color: var(--purple);
}

.green .logo {
  color: var(--greenLight)
}

.sand .logo {
  color: var(--green);
}

.curry .logo {
  color: var(--darkcyan)
}

.sky .logo {
  color: var(--faded-blue);
}

@media (max-width: $m) {
  .menuOpened.logo {
    color: var(--blue);
  }
}

.isScrolling.logo {
  color: var(--blue);
}

.atTop {
  background-color: transparent;
  //transition: 0.2s;
  transition-property: background-color;
  transform: translateY(0);
  //transition-delay: 0.1s;
}

.whiteHeader {
  background-color: var(--bg);
  //-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  //-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  //box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  //transition: 0.2s;
}

/*
.hideHeader {
  transform: translateY(-100%);
  transition: 0.6s;
  transition-delay: 0.1s;
}
*/