@import 'core.scss';

.hero {
  background-color: var(--black);
  color: var(--bg);
  height: 600px;
  position: relative;

  &::after {
    bottom: 0;
    background: rgb(0,0,0);
    //background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.15) 35%, rgba(0,0,0,0.6) 100%);
    content: '';
    left: 0;
    opacity: 0.25;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
  }
}

.fullHeight {
  height: min(100vh, 67vw);
  min-height: 700px;
}

@media (max-width: $m) {
  .fullHeight,
  .hero {
    height: $s * 1.2;
    min-height: auto;
  }
}

.image {
  height: 100%;
  position: relative;
  width: 100%;
}

.content {
  left: 0;
  position: absolute;
  bottom: 7%;
  //transform: translate(-50%, 6%);
  //text-align: center;
  padding: 1.5rem;
  padding-right: 3rem;
  max-width: $l;
  z-index: 1;
  width: 100%;

  @media (max-width: $m) {
    bottom: 5%;
    padding: 1rem;
    //transform: translate(-50%, 55%);
  }

  .wrapper {
    line-height: 1;
  }

  .h1 {
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
    //text-transform: uppercase;

    @media (max-width: $m) {
      //word-wrap: break-word;
      //-webkit-hyphens: auto;
      //-moz-hyphens: auto;
      //hyphens: auto;
      font-size: 2.66rem;
      font-weight: 450;
      padding-right: 2rem;
    }
  }

  .h2,
  .p {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.5;

    @media (max-width: $m) {
      font-size: 16px;
    }
  }

  .p {
    font-weight: 300;
    letter-spacing: 0.02em;
  }
}

.mere {
  font-size: 0.8rem;
  margin-top: 2rem;
  //opacity: 0.25;
  text-transform: uppercase;
}

.animatedH1 {
  text-transform: uppercase;
  font-size: 4em;

  @media (max-width: $m) {
    font-size: 2.4em;
  }

  .dynamicWords {
    display: block;
    height: 1em;
    overflow: hidden;
    position: relative;

    .wordWrapper {
      position: absolute;
      right: 49%;
      transform: translateX(50%);
    }
  }
}
