@import 'core.scss';

.hero {
  background-color: var(--sand);
  color: var(--bg);
  height: 600px;
  position: relative;
}

.fullHeight {
  height: min(106vh, 67vw);
  min-height: 700px;
}

@media (max-width: $m) {
  .fullHeight,
  .hero {
    height: $s * 1.1;
    min-height: auto;
  }
}

@media (max-width: $s) {
  .fullHeight, .hero { height: 90vh; }
}

.image {
  bottom: 1.6rem;
  height: calc(50vw - 1.6rem);
  position: absolute;
  right: 1.6rem;
  width: calc(50vw - 2.4rem);
}

.content,
.contentAnimated {
  left: 0;
  position: absolute;
  bottom: 8%;
  //transform: translate(-50%, 6%);
  //text-align: center;
  padding: 1.5rem;
  padding-right: 3rem;
  max-width: 50vw;
  z-index: 1;
  width: 100%;

  @media (max-width: $m) {
    bottom: 5%;
    padding: 1rem;
    //transform: translate(-50%, 55%);
  }

  .wrapper {
    line-height: 1;
  }

  .h1 {
    color: var(--strong-red);
    font-size: 4.2rem;
    font-weight: 600;
    margin: 0;
    //text-transform: uppercase;

    @media (max-width: $m) {
      //word-wrap: break-word;
      //-webkit-hyphens: auto;
      //-moz-hyphens: auto;
      //hyphens: auto;
      font-size: 2.25rem;
      font-weight: 550;
      padding-right: 2rem;
    }

    .redPunctuation {
      color: var(--red);
    }
  }

  .h2,
  .p {
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.5;

    @media (max-width: $m) {
      font-size: 16px;
    }
  }

  .p {
    font-weight: 300;
    letter-spacing: 0.02em;
  }
}

.contentAnimated {
  bottom: 0%;
  max-width: 100%;
}

.mere {
  font-size: 0.8rem;
  margin-top: 2rem;
  //opacity: 0.25;
  text-transform: uppercase;
}

.animatedWrapper {
  display: flex;
}

.animatedH1 {
  //text-transform: uppercase;
  font-size: 5.5em;
  font-weight: 550;
  line-height: 1.33;

  @media (max-width: $l) {
    font-size: 4.6em;
  }

  @media (max-width: $m) {
    font-size: 3.5em;
  }

  @media (max-width: $s) {
    font-size: 1.9em;
    //font-weight: 600;
    line-height: 1.33;
  }

  .dynamicWords {
    display: inline-block;
    margin-left: 0.25em;
    overflow: hidden;
    position: relative;
    width: 570px;

    @media (max-width: $l) {
      width: 450px;
    }

    @media (max-width: $m) {
      width: 330px;
    }

    @media (max-width: $s) {
      width: 193px;
    }

    .wordWrapper {
      position: absolute;
      left: 0;
      transform: translateX(50%);
    }
  }
}
