@import 'core.scss';

.hero {
  background-color: var(--curry);
  color: var(--blue);
  padding-bottom: 1.6rem;
  padding-top: 11vw;

  @media (max-width: $m) {
    padding-top: 7.5rem;
  }
}

.light {
  background-color: var(--sand);
  color: var(--orange);
}

.dark {
  background-color: var(--black);
  color: var(--bg);
}

.curry {
  background-color: var(--curry);
  color: var(--darkcyan);
}

.green {
  background-color: var(--green);
  color: var(--greenLight);
}

.blue {
  background-color: var(--dark-blue);
  color: var(--weak-blue);
}

.sand {
  background-color: var(--greenLight);
  color: var(--green);
}

.turquoise {
  background-color: var(--turkis);
  color: var(--purple);
}

.grey {
  background-color: var(--weak-green);
  color: var(--strong-blue);
}

.pink {
  background-color: var(--pink);
  color: var(--strong-blue);
}

.sky {
  background-color: var(--weak-blue);
  color: var(--faded-blue)
}

.image {
  display: block;
  height: calc(54vw - 1.6rem);
  margin: 3.2rem auto 0;
  position: relative;
  width: calc(100% - 3.2rem);

  @media (max-width: $m) {
    height: auto;
    min-height: calc(100vw - 2rem);
    //right: 1rem;
    width: calc(100% - 2rem);
  }
}

.content,
.contentAnimated {
  padding: 1.5rem;
  //padding-right: 3rem;
  z-index: 1;
  width: 100%;

  @media (max-width: $m) {
    bottom: auto;
    padding: 1rem;
    top: 14%;
    max-width: none;
  }

  .wrapper {
    display: flex;
    gap: 6rem;
    line-height: 1;

    @media (max-width: $m) {
      display: block;
    }
  }

  .h1 {
    //color: var(--linkBlue);
    font-size: 4.2rem;
    //font-weight: 600;
    margin: 0;
    width: 50%;
    //word-break: break-all;
    hyphens: manual;
    //text-transform: uppercase;

    @media (max-width: $m) {
      //word-wrap: break-word;
      //-webkit-hyphens: auto;
      //-moz-hyphens: auto;
      //hyphens: auto;
      font-size: 2.3rem;
      font-weight: 550;
      margin-bottom: 2rem;
      //padding-right: 2rem;
      width: 100%;
    }

    .redPunctuation {
      color: var(--red);
    }
  }

  .h2,
  .column {
    //color: var(--linkBlue);
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.33;
    margin: 0;
    width: 50%;

    @media (max-width: $m) {
      font-size: 16px;
      width: 100%;
    }
  }

  .p {
    font-weight: 500;
    letter-spacing: 0.02em;
    margin: 0.5rem 0 0;
  }

  .cta {
    //font-size: 1rem;
    margin-top: 1rem;
    padding: 0.25rem 0;
    width: fit-content;

    a {
      text-decoration-line: underline;
      text-underline-offset: 0.4rem;

      &:hover {
        text-decoration-line: none;
      }
    }
  }
}

.fullHero {
  background-color: black;
  height: 100vh;
  position: relative;

  &:after {
    background-color: black;
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    opacity: 0.15;
    right: 0;
    top: 0;
    width: 100%;
  }

  .content {
    bottom: 1.6rem;
    color: var(--bg);
    position: absolute;
  }

  .h1 {
    font-size: 4.25rem;

    @media (max-width: $m) {
      font-size: 3rem;
    }
  }

  .image {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  @media (max-width: $m) {
    .content {
      top: auto;
    }
  }
}

@media (max-width: $m) {
  .fullHero {
    height: $s * 1.1;
    min-height: auto;
  }
}

@media (max-width: $s) {
  .fullHero { height: 90vh; }
}

@media (min-width: $m) {
  .halfHero {
    display: flex;
    justify-content: space-between;

    .content {
      width: 50%;
    }

    .image {
      width: 50%;
    }

    .content .wrapper {
      display: block;

      .h1,
      .column {
        width: 100%;
      }

      .h1 {
        margin-bottom: 3rem;
      }

      .column .p {
        max-width: 66%;
      }
    }

    .image {
      height: auto;
      margin: 0;
      padding: 1.6rem;
    }
  }
}

.contentAnimated {
  bottom: 0;
  max-width: 100%;
}

.animatedWrapper {
  display: flex;
}

.animatedH1 {
  font-size: 5.5em;
  font-weight: 550;
  line-height: 1.33;

  @media (max-width: $l) {
    font-size: 4.6em;
  }

  @media (max-width: $m) {
    font-size: 3.5em;
  }

  @media (max-width: $s) {
    font-size: 1.9em;
    //font-weight: 600;
    line-height: 1.33;
  }

  .dynamicWords {
    display: inline-block;
    margin-left: 0.25em;
    overflow: hidden;
    position: relative;
    width: 570px;

    @media (max-width: $l) {
      width: 450px;
    }

    @media (max-width: $m) {
      width: 330px;
    }

    @media (max-width: $s) {
      width: 193px;
    }

    .wordWrapper {
      position: absolute;
      left: 0;
      transform: translateX(50%);
    }
  }
}
