@import 'core.scss';

.karussel {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4rem 1.5rem;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.inner {
  //max-width: $l;
  width: 100%;
}

.inner .h2 {
  font-size: 2.2rem;
  margin: 0;
  //text-align: center;
  //text-transform: uppercase;

  @media (max-width: $m) {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.header {
  border-top: 1px solid var(--main);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-top: 1rem;
  width: 100%;

  @media (max-width: $s) {
    display: block;
  }

  a {
    font-weight: 500;
    text-decoration-line: underline;
    text-underline-offset: 0.25em;

    &:hover {
      text-decoration-line: none;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(25% - 1.5rem), 1fr));
  gap: 1.5rem;
  margin-top: 3rem;
  width: 100%;

  @media (max-width: $m) {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 1.5rem), 1fr));

    .publikation {
      margin-bottom: 3rem;

      &:last-of-type {
        margin-bottom: 2rem;
      }
    }
  }
}

.wrapper {
  margin-bottom: 0.2em;
}

.dato {
  margin: 0;
}

.titel {
  font-size: 1.1em;
  margin: 0.5rem auto;
  padding-right: 1rem;
  //text-transform: uppercase;
}

.resume {
  font-size: 16px;
  margin: 0;
}

.cta {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  width: fit-content;

  @media (max-width: $m) {
    margin-bottom: 0;
  }

  .icon {
    align-items: center;
    background-color: var(--main);
    border-radius: 1.25em;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    margin-right: 0.5em;
    width: 2.5em;
  }

  &:hover {
    color: var(--red);

    .icon {
      background-color: var(--red);
    }
  }
}
