@import 'core.scss';

.karussel {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5rem 2rem;
}

.inner {
  max-width: $l;
  width: 100%;
}

.inner .h2 {
  font-size: max(2rem, 30px);
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.2em;
}

.wrapper {
  margin-bottom: 0.2em;
}

.dato {
  font-size: 0.6em;
  margin: 0;
}

.titel {
  font-size: 1.2em;
  //font-weight: normal;
  margin: 0;
  margin-top: 0.5em;
  padding-right: 1rem;
  text-transform: uppercase;
}

.resume {
  font-size: 0.8em;
  margin: 0;
}

.cta {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  width: fit-content;

  .icon {
    align-items: center;
    background-color: var(--main);
    border-radius: 1.25em;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    margin-right: 0.5em;
    width: 2.5em;
  }

  &:hover {
    color: var(--red);

    .icon {
      background-color: var(--red);
    }
  }
}
