@import 'core.scss';

.content {
  //padding-top: 3rem;
}

.titel {
  padding: 10rem 1.6rem 0;
}

.h1 {
  font-size: 5em;
  font-weight: 450;
  margin: 0;
  padding-bottom: 6rem;
}

.date {
  border-bottom: 1px solid var(--black);
  padding-bottom: 1rem;
}