@import 'core.scss';

.nav {
  align-items: center;
  color: var(--blue);
  display: flex;
  font-weight: 400;
  z-index: 0;

  .inner {
    display: flex;
  }

  @media (max-width: $m) {
    display: none;
  }

  .ul {
    display: flex;
    list-style: none;
    margin: 0 1rem;
    padding: 0;
  }

  .li {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    line-height: 1.5;
    height: 2rem;
    position: relative;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  @media (min-width: $m) {
    .li .active span {
      border-bottom: 1px solid var(--strong-red);
      //color: var(--red);
    }

    .li a {
      display: inline-flex;
      position: relative;

      &:hover span {
        border-bottom: 1px solid var(--strong-red);
        //color: var(--black);
      }
    }

    .li span {
      align-content: center;
      border-bottom: 1px solid transparent;
      display: flex;
      //font-size: 0.9rem;
      margin: 0 1.25em;
      letter-spacing: 0.02em;
    }
  }

/*
  @media (min-width: $m) {
    .li a:hover::after {
      background-color: var(--red);
      border-radius: 4px;
      content: '';
      height: 8px;
      position: absolute;
      left: 4px;
      top: calc(50% - 4px);
      width: 8px;
    }
  }
*/
}

@media (min-width: $m) {
  .menuButton {
    display: none;
  }
}

@media (min-width: $m) {
  .socials,
  .legals {
    display: none;
  }
}

.buttonWrapper {
  display: flex;
}

.buttonWrapper .cta {
  border-bottom: 1px solid var(--blue);
  display: block;
  //font-size: 0.9rem;
  height: auto;
  letter-spacing: 0.02em;
  line-height: 1.5;

  @media (min-width: $m) {
    align-self: center;
    display: inline-flex;
    //height: 28px;
    //margin-right: 0.75em;
  }

  &:after {
    content: '\2192';
    margin-left: 4px;
    transform: rotate(-45deg);
  }

  &:hover {
    border-bottom-color: transparent;
  }
}

.light {
  color: var(--bg);

  .buttonWrapper .cta {
    border-bottom: 1px solid var(--bg);
  }
}

.green {
  color: var(--curry);

  .buttonWrapper .cta {
    border-bottom: 1px solid var(--curry);
  }
}

.sand,
.curry {
  color: var(--blue);

  .buttonWrapper .cta {
    border-bottom: 1px solid var(--blue);
  }
}

.scrolling {
  color: var(--blue);

  @media (min-width: $m) {
    .li .active span {
      //border-bottom: 1px solid var(--main);
    }

    .li a {
      display: inline-flex;
      position: relative;

      &:hover span {
        border-bottom: 1px solid var(--blue);
      }
    }
  }
}

@media (min-width: $m) {
  .scrolling .buttonWrapper {
    border-bottom-color: var(--blue);
  }
}

@media (max-width: $m) {
  .menuButton {
    background-color: transparent;
    //border: 1px solid var(--bg);
    border: none;
    color: var(--blue);
    font-size: 1em;
    padding: 0.25rem;
    z-index: 1;
  }

  .scrolling .menuButton {
    //border: 1px solid var(--main);
    color: var(--blue);
  }

  .menuButton.dark {
    //border: 1px solid var(--main);
    color: var(--blue);
  }

  .buttonWrapper a {
    display: block;
    text-align: center;
    width: 100%;
  }

  .buttonWrapper .cta {
    border-bottom: 1px solid var(--bg);
    font-size: 0.9rem;
    letter-spacing: 0.02em;
  }

  .nav {
    background-color: var(--bg);
    bottom: 0;
    color: var(--blue);
    display: block;
    height: 100vh;
    left: 0;
    padding: 5rem 0 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

    .inner {
      display: block;
      height: 100%;
      overflow-y: scroll;
      padding: 0 1rem;
    }

    .ul {
      //border-top: 1px solid var(--main);
      display: block;
      margin: 0;
      margin-bottom: 2rem;
    }

    .li {
      border-bottom: 1px solid var(--blue);
      display: block;
      line-height: 2;
      height: auto;
    }

    .socials,
    .legals {
      font-size: 0.8em;
      line-height: 1.5;
      margin-top: 2rem;
      text-align: left;
    }

    .socials a,
    .legals a {
      display: inline-block;
      text-decoration: underline;
    }

    .li span,
    .li a span {
      font-size: 1rem;
      margin: 0;
      width: 100%;

      &:after {
        content: "\2192";
        position: absolute;
        right: 0;
      }
    }

    .container {
      align-items: center;
      display: flex;
    }

    .container::after {
      font-size: 1.2em;
    }

    .container.minus::after {
      content: "\2212";
    }

    .container.plus::after {
      content: "\002B";
    }

    .li a {
      width: 100%;
    }

    .li:hover::after {
      display: none;
    }

    .active {
      color: var(--red);
    }

    .active::after {
      display: none;
      //left: -12px;
      //top: calc(50% - 2px);
    }

    .buttonWrapper .cta {
      border: 1px solid var(--blue);
      padding: 0.5rem;
    }
  }

  .openMenu {
    display: block;
  }

  .closeMenu {
    display: none;
  }
}

.button {
  align-items: center;
  background-color: var(--blue);
  border: none;
  border-radius: 1rem;
  color: var(--bg);
  display: inline-flex;
  font-size: 0.7em;
  height: 2rem;
  padding: 0 1rem;
  text-transform: uppercase;

  &:hover {
    background-color: var(--red);
    color: var(--bg);
    cursor: pointer;
  }
}

.icon {
  display: inline-flex;
  align-self: center;

  @media (max-width: $m) {
    display: none;
  }
}

.dropdownList {
  background-color: transparent;
  display: none;
  left: 0;
  list-style: none;
  min-width: 100%;
  padding: 0.5rem 0 1rem !important;
  position: absolute;
  transition: 0.2s;
  top: 100%;

  .li {
    border-bottom: none;
    display: flex;
    margin: 0.25em auto;
    white-space: nowrap;
  }

  .li a {
    display: inline-flex;
    line-height: 1.5;
    padding: 0 1.25em;
    width: 100%;
  }

  .li a span {
    margin: 0;

    &:after {
      content: none;
    }
  }
  
  @media (max-width: $m) {
    padding: 0.5em 0 1em;
    position: relative;

    .li a {
      padding: 0;
    }
  }
}


.scrolling .dropdownList {
  background-color: var(--bg);
  transition: 0.2s;

  .li a span {
    margin: 0;
  }
}

.scrolling .inner .cta {
  border-bottom-color: var(--blue);

  &:hover {
    border-bottom-color: transparent;
  }
}
