@import 'core.scss';

.section {
  padding: 4rem 1.5rem 2rem;
  position: relative;
  width: 100%;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.header {
  display: flex;
  //margin-bottom: 3rem;
  padding-top: 1rem;
  width: 100%;

  .h2,
  .p {
    margin: 0;
    width: 50%;
  }

  .p p {
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    white-space: pre-wrap;
    padding: 0 0.8rem;
  }

  .h2 {
    font-size: 2.66em;
  }
}

.grid {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 6rem;
  margin: 3rem auto;
  padding: 4rem;
}

.partner a {
  display: block;
  filter: grayscale(1) contrast(2);
  max-height: 100px;
  mix-blend-mode: multiply;
}

.cta {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 2rem;
  text-transform: uppercase;
  width: fit-content;

  .icon {
    align-items: center;
    background-color: var(--main);
    border-radius: 1.25em;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    margin-right: 0.5em;
    width: 2.5em;
  }

  &:hover {
    color: var(--red);

    .icon {
      background-color: var(--red);
    }
  }
}
