@import 'core.scss';

.publikationer,
.events,
.richWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.inner {
  max-width: $l;
  width: 100%;
}

.publikation,
.event {
  display: block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  row-gap: 3rem;

  @media (max-width: $m) {
    display: block;

    .publikation,
    .event {
      margin-bottom: 2rem;
    }
  }
}

.wrapper {
  margin-bottom: 0.2em;
}

.dato,
.kategori {
  font-size: 0.6em;
  margin: 0;
  margin-right: 0.5rem;
}

.dato::after {
  content: ':';
  margin-left: 0.5rem;
}

.titel {
  font-size: 1em;
  //font-weight: normal;
  margin: 0;
  margin-top: 0.5em;
  padding-right: 1rem;
  //text-transform: uppercase;
}

.resume {
  font-size: 0.8em;
  margin: 0;
  margin-top: 0.5rem;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

.p {
  display: block;
  font-size: 0.8em;
  text-align: center;
}

.filter {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  margin-bottom: 2rem;
}

.kategoriBtn {
  background-color: var(--main);
  border: none;
  border-radius: 1rem;
  color: var(--bg);
  font-size: 0.7em;
  height: 2rem;
  margin-bottom: 0.25rem;
  padding: 0 1rem;
  text-transform: uppercase;

  &:hover {
    background-color: var(--red);
    color: var(--bg);
    cursor: pointer;
  }
}

.selected {
  background-color: var(--red);
}

// Styling af enkelte publikationer

.richInner {
  max-width: $m;
  width: 100%;
}

.rich {
  line-height: 1.75;

  @media (max-width: $m) {
    font-size: 0.9em;
  }
}

.tilbage {
  color: var(--red);
  display: block;
  font-size: 0.8em;
  margin-bottom: 0.5rem;
  opacity: 0.75;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
    opacity: 1;
  }
}

.info {
  color: var(--red);
  font-size: 0.8em;
  margin-bottom: 2rem;
  opacity: 0.75;

  span {
    margin-right: 0.5rem;
  }

  span::after {
    content: ':';
    margin-left: 0.5rem;
  }

  span:last-of-type::after {
    content: '';
  }

  span .ikon {
    margin-right: 0.2em;
  }

  a:hover {
    text-decoration: underline;
  }
}

.pdfLink {
  align-items: center;
  background-color: var(--white);
  border: 1px solid #ededed;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 1rem 1.2rem;
}
