@import "core";

.darkSection,
.section {
  padding: 4rem 1.5rem 2rem;
  position: relative;
  width: 100%;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.darkSection {
  background-color: var(--black);
  color: var(--bg);
  padding: 4rem 1.5rem;
}

.header {
  display: flex;
  //margin-bottom: 3rem;
  padding-top: 1rem;
  width: 100%;

  .h2,
  .column {
    margin: 0;
    width: 50%;
  }

  .column {
    padding: 0 0.8rem;
  }

  .h2 {
    font-size: 2.66em;
  }

  .p {
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    white-space: pre-wrap;
  }

  @media (max-width: $m) {
    display: block;
    padding-top: 0.5rem;

    .h2,
    .column {
      width: 100%;
      padding: 0;
    }

    .h2 {
      font-size: 1.75em;
      margin-bottom: 1rem;
    }

    .p {
      font-size: 1.15em;
    }

    .richText {
      font-size: 1em;
    }
  }
}

.richText {
  font-size: 1.1em;
  margin-bottom: 2rem;

  a {
    color: var(--linkBlue);
    text-decoration: underline;
    text-underline-offset: 0.33rem;
  }

  a:hover {
    text-decoration: none;
  }
}

.link a {
  font-size: 1.1em;
  //font-weight: 500;
  text-decoration-line: underline;
  text-underline-offset: 0.33em;

  &:hover {
    text-decoration-line: none;
  }
}

.header.spaceBetween {
  justify-content: space-between;

  .link {
    margin-top: 1rem;
  }
}

.downloadAsset {
  margin-top: 2rem;
  max-width: $s;
}

.downloadLink {
  align-items: center;
  border: 1px solid var(--black);
  display: flex;
  padding: 0.75rem;
  width: fit-content;

  &:hover {
    border-color: var(--linkBlue);
    color: var(--linkBlue);
  }
}