@import 'core.scss';

.section {
  padding: 4rem 1.5rem 2rem;
  position: relative;
  width: 100%;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.inner {
  //display: flex;
  width: 100%;

  @media (max-width: $l) {
    display: block;
  }

  .header {
    display: flex;
    //margin-bottom: 3rem;
    padding-top: 1rem;
    position: relative;
    width: 100%;

    @media (max-width: $m) {
      display: block;
    }
  }

  .h2,
  .column {
    margin: 0;
    width: 50%;

    @media (max-width: $m) {
      width: 100%;
    }
  }

  .column {
    padding: 0 0.8rem;
  }

  .h2 {
    font-size: 3.5em;
  }

  .p p {
    font-size: 1.5em;
    font-weight: 450;
    margin-top: 0;
    margin-bottom: 1.5rem;
    white-space: pre-wrap;
  }

  @media (max-width: $m) {
    display: block;
    padding-top: 0.5rem;

    .h2,
    .column {
      width: 100%;
      padding: 0;
    }

    .h2 {
      font-size: 1.75em;
      margin-bottom: 1rem;
    }

    .p p {
      font-size: 1.15em;
    }

    .richText {
      font-size: 1em;
    }
  }
}

.imageContainer {
  flex: 1;
  margin-top: 4rem;
  width: 100%;
}

.link {
  border-bottom: 0.1rem solid var(--main);
  font-size: 1.1em;
  //font-weight: 500;
  //text-decoration-line: underline;
  //text-underline-offset: 0.33em;

  &:hover {
    border-bottom-color: transparent;
  }
}

.rightAligned,
.leftAligned {
  display: grid;
  grid-template-areas: "column1 column2";
  grid-template-columns: 1fr 1fr;

  @media (max-width: $m) {
    display: block;
  }

  .header {
    display: block;
    padding-top: 2rem;

    .h2,
    .column {
      padding-left: 0;
      width: 100%;
    }

    .h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .column .p p {
      font-size: 1.2rem;
    }
  }

  .imageContainer {
    margin-top: 2rem;
  }
}

.rightAligned {
  grid-template-areas: "column2 column1";
}

.header {
  grid-area: column1;
}

.imageContainer {
  grid-area: column2;
}

@media (min-width: $m) {
  .rightAligned .header {
    padding-left: 4rem;
  }

  .leftAligned .header {
    padding-right: 4rem;
  }
}
