@import 'core.scss';

.section {
  padding: 4rem 1.5rem 2rem;
  position: relative;
  width: 100%;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.inner {
  display: flex;
  width: 100%;

  @media (max-width: $l) {
    display: block;
  }

  .column {
    margin: 0;
    padding-right: 6rem;
    width: 50%;
  }

  .column .h2 {
    font-size: 2.5em;

    .redPunctuation {
      color: var(--red);
    }
  }

  .column .p {
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 1.5rem;
    white-space: pre-wrap;
  }

  @media (max-width: $m) {
    display: block;
    padding-top: 0.5rem;

    .column {
      width: 100%;
      padding: 0;
    }

    .column .h2 {
      width: 100%;
      margin: 0;
    }

    .column .h2 {
      font-size: 1.75em;
      margin-bottom: 1rem;
    }

    .column .p {
      font-size: 1.15em;
    }
  }
}

.imageContainer {
  flex: 1;
  padding: 1.6rem 0 0 0.8rem;
  width: 50%;

  @media (max-width: $l) {
    margin: 0 0 0 auto;
    padding: 0;
  }

  @media (max-width: $s) {
    margin: 2rem auto 0;
    width: 100%;
  }
}

.link {
  border-bottom: 0.1rem solid var(--red);
  font-size: 1.1em;
  //font-weight: 500;
  //text-decoration-line: underline;
  //text-underline-offset: 0.33em;

  &:hover {
    border-bottom-color: transparent;
  }
}