@import "core";

.section {
  display: block;
  padding: 3rem 1.6rem;

  @media (max-width: $m) {
    padding: 1rem;
  }
}

.inner {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 0;

  @media (max-width: $m) {
    display: block;
  }
}

.content {
  flex: 2;
  font-size: 1.05em;
  line-height: 1.75;
  justify-content: space-between;

  .richText {
    max-width: $sm;

    h2 {
      font-size: 2em;
      line-height: 1.2;
    }
  }

  .persons {
    border-top: 1px solid var(--black);
    margin: 4rem auto 2rem 0;
    max-width: $sm;
  }
}

.info {
  background-color: var(--sand);
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  padding: 1.6rem 3.2rem 3.2rem;

  @media (max-width: $m) {
    display: block;
    padding: 1.6rem;
  }

  .events {
    line-height: 2;

    .link {
      display: block;
      text-decoration-line: underline;
      text-underline: var(--black);
      text-underline-offset: 0.4rem;

      &:hover {
        text-decoration-line: none;
      }
    }
  }

  .richText {
    margin: 1rem auto;

    a {
      //color: var(--linkBlue);
      text-decoration-line: underline;
      text-underline-offset: 0.4rem;

      &:hover {
        text-decoration-line: none;
      }
    }
  }
}

.light {
  background-color: var(--sand);
  color: var(--orange);
}

.dark {
  background-color: var(--black);
  color: var(--bg);
}

.curry {
  background-color: var(--curry);
  color: var(--darkcyan);
}

.green {
  background-color: var(--green);
  color: var(--greenLight);
}

.blue {
  background-color: var(--dark-blue);
  color: var(--pink);
}

.sand {
  background-color: var(--greenLight);
  color: var(--green);
}

.turquoise {
  background-color: var(--turkis);
  color: var(--purple);
}

.grey {
  background-color: var(--weak-pink);
  color: var(--strong-blue);
}

.pink {
  background-color: var(--pink);
  color: var(--strong-blue);
}

.sky {
  background-color: var(--weak-blue);
  color: var(--faded-blue)
}