@import "core";

.section {
  display: block;
  padding: 3rem 1.6rem;
}

.inner {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 3.2rem 0;
}

.content {
  flex: 2;
  font-size: 1.05em;
  line-height: 1.75;
  justify-content: space-between;

  .richText {
    max-width: $sm;
  }

  .persons {
    border-top: 1px solid var(--black);
    margin: 4rem auto 2rem 0;
    max-width: $sm;
  }
}

.info {
  background-color: var(--sand);
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  padding: 1.6rem 3.2rem 3.2rem;

  .events {
    line-height: 2;

    .link {
      display: block;
      text-decoration-line: underline;
      text-underline: var(--black);
      text-underline-offset: 0.4rem;

      &:hover {
        text-decoration-line: none;
      }
    }
  }

  .richText {
    margin: 1rem auto;

    a {
      color: var(--linkBlue);
      text-decoration-line: underline;
      text-underline-offset: 0.4rem;

      &:hover {
        text-decoration-line: none;
      }
    }
  }
}