@import "core";

.section {
  padding: 4rem 1.5rem 2rem;
  position: relative;
  width: 100%;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

.inner {
  display: flex;
  width: 100%;

  @media (max-width: $l) {
    display: block;
  }
}

.imageContainer {
  flex: 1;
  padding: 1.6rem 0;
  width: 50%;

  @media (max-width: $l) {
    margin: 0 0 0 auto;
    padding: 0;
  }

  @media (max-width: $s) {
    margin: 2rem auto 0;
    width: 100%;
  }
}

.figure {
  flex: 1;
  padding-right: 1.5rem;
  min-width: 50%;
}

.figure,
.blockquote {
  margin: 0;
}

.quote {
  font-family: 'Lora', serif;
  font-size: 2.1rem;
  line-height: 1.33;

  @media (max-width: $s) {
    font-size: 1.5rem;
  }
}

.name {
  //color: var(--red);
  font-weight: 600;
}