@import 'core.scss';

.usp {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3rem 2rem;
  position: relative;

  @media (max-width: $m) {
    padding: 3rem 1rem;
  }
}

@media (min-width: $m) {
  .medBaggrundsfarve {
    padding: 4rem 2rem;
  }
}

.inner {
  max-width: $l;
  text-align: center;
}

.h2 {
  font-size: 2rem;
  margin-top: 0;
  text-transform: uppercase;

  @media (max-width: $m) {
    font-size: 27px;
    line-height: 1.2;
  }
}

.p {
  line-height: 1.5;

  @media (max-width: $m) {
    font-size: 16px;
  }
}

.grid {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;

  @media (max-width: $m) {
    flex-direction: column;
  }

  .point {
    display: block;
    margin-bottom: 2rem;
    max-width: 240px;
    padding: 0 1rem;

    @media (max-width: $m) {
      max-width: 100%;
    }

    .p {
      font-size: 0.8em;
    }
  }

  .icon {
    align-items: center;
    background-color: var(--red);
    border-radius: 1.5em;
    display: inline-flex;
    height: 3em;
    justify-content: center;
    margin-right: 0.5em;
    width: 3em;
  }
}

.cta {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 2rem;
  text-transform: uppercase;
  width: fit-content;

  .icon {
    align-items: center;
    background-color: var(--main);
    border-radius: 1.25em;
    display: inline-flex;
    height: 2.5em;
    justify-content: center;
    margin-right: 0.5em;
    width: 2.5em;
  }

  &:hover {
    color: var(--red);

    .icon {
      background-color: var(--red);
    }
  }
}
